*{
    padding: 0;
    margin: 0;
}

body {
    padding-top: 5rem;
}


#r{background-color:#E6EAEB;
    height:25px;
    padding-left:10px;
}

#data { 
       margin:9.5px;
       height:150px;
        width:280px;
       border-top: solid #E6EAEB;
       border-bottom:solid #E6EAEB;
       border-width:.5px;
}
 
.container{
    text-align: center;
    
    
}
.topdiv{
    background-color: lime;
    
 
 border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-top: 15px; padding-bottom:  15px;
  
  margin-bottom: -20px;
 
}
.bottomdiv{
    background-color: grey;
     
    border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}