body {
    padding-top: 5rem;
}


#r{background-color:#E6EAEB;
    height:25px;
    padding-left:10px;
}

#data { 
       margin:9.5px;
       height:150px;
        width:280px;
       border-top: solid #E6EAEB;
       border-bottom:solid #E6EAEB;
       border-width:.5px;
}
 
