{% extends "base.html" %}

{% block main %}

<h1 class="page-header">Profile</h1>


<!--<div class="pic"><img src="{{url_for('static',filename='myimage.png')}}"></image></div>-->
<div class ="xyx">
    <div id=fom><p><strong>Heron Chambers</strong></p></div>
    <p class="typ">Joined {{ date }}</p>
    <div id="lom">
    <p>Username: Heron Chambers</p>
    <p>ID Number: 620045536</p>
    <p>Age: 25</p>
    <p>General: Male</p>
    </div>
    <div><p class ="typ">I'm passionate about web devlopment</p>  </div>
</div>




 
{% endblock %}